<!DOCTYPE html>
<html lang="it">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="style/style2.css">
    </head>

    <body>
        <div class="contenitore">
            <nav>
                <h2>E-commerce</h2>
                <div class="user-info">
                    Benvenuto, ${username}
                </div>
            </nav>
            <div class="board">
                <button class="task">
                    Richieste
                </button>

                <button class="task">
                    Incharichi
                </button>
            </div>
        </div>
    </body>

</html>